[flake8]
max-line-length = 88
extend-ignore = E203
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    sandbox
per-file-ignores =
    machine_learning_control/control/utils/test_policy.py: E731
    __init__.py: F401, E501
max-complexity = 10
