# Logs and data
control/logs
data/
logs/*

# Cache
__pycache__/
*.pyc

# Tests
pytest/
*.pytest_cache/
.coverage

# Dist
build/
dist/
.eggs/
*.egg-info/

# node related
node_modules/

# IDE files to ignore
.vscode
*.code-workspace

# Other
runs/
MUJOCO_LOG.TXT
client_id
